.hlbtnT{
    color: sandybrown;
    margin-left: 10px;
    line-height: 40px;
    font-size: 17px;
}

.hlbtnBg{
    
    background-color: orange;
    color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    border-radius: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.hlxxx{
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;

    border-width: 1px;
    border-style: solid;
    border-color: black;
}


.hlxxdesc{
    font-size: 1.5em;
    color: #333;
    font-weight: 600;
}